/* Write your CSS here */
.chrono-container {
  width: 100%;
  min-height: 100vh;
}
.timeline-header {
  width: 100%;
  text-align: center;
  font-family: 'Roboto';
}
.title-tag {
  color: #1e293b;
}
.title {
  color: #2b237c;
}
